.card {
  margin: 0 auto;
  border-radius: 16px;
  border-width: 2px;
  border-color: #000;
  border-style: solid;
  padding-top: 1.5rem;
  background-color: #fafafa;
  overflow: hidden;
  text-align: center;
  width: 320px;

  transition: 200ms box-shadow;
}

.card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 25px 50px -10px,
    rgba(0, 0, 0, 0.3) 0px 15px 30px -15px;
}

.avatar {
  border-radius: 180%;
  width: 144px;
  height: 144px;
  background-color: #2a2a2a;
  margin: 0 auto;
}

.name {
  margin-top: 2rem;
  font-size: 2.5rem;
}

.text {
  color: #7b7b7b;
  font-size: 1.5rem;
}

.stats-list {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  text-transform: capitalize;

  padding-top: 1px;
  gap: 1px;
  background-color: #989898;
}

.stats-item {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d3d3d3;
  color: #7b7b7b;
}

.stats-value {
  font-weight: 600;
}
