.table {
  margin: 2rem auto 0;
  width: 512px;
  text-transform: capitalize;
  border-collapse: collapse;
}

.table-head {
  background-color: #2a2a2a;
  color: #fff;
}

.table-row {
  text-align: center;
  transition: 200ms color, 200ms background-color;
}

.table-row:nth-child(2n + 2) {
  background-color: #d3d3d3;
}

.table-row:hover {
  background-color: #1c4f7a;
  color: #25a4fc;
}

.table-row td {
  border-color: #2a2a2a;
  border-width: 1px;
  border-style: solid;
}
